body{
  background-image: url(../fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#root{
  height: 0px;
}

.container{
  overflow: hidden;
}

h6 {
  width: 90%;
  overflow: hidden;
}


